---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About" cls="about">
  <h2><em>About This Blog</em></h2>

  <article>
    <h3>Philosophy</h3>
    <p>This blog is my refuge from the overwhelming world of front-end and AI technology. Here, I seek inner peace in
      the clean, minimal world of TUI. Lynx FTW!</p>

    <h3>Pros & Cons</h3>

    <h4>Pros:</h4>
    <ul>
      <li>No more being bombarded by new JS frameworks</li>
      <li>No more fighting my CSS incompetence</li>
      <li>Actually spending time creating content</li>
      <li>Pure HTML gives you accessibility and performance for free.</li>
      <li>A chance to rethink the essence of web browsing and blogging</li>
      <li>Keeps me from implementing unnecessary features</li>
    </ul>

    <h4>Cons:</h4>
    <ul>
      <li>Lynx cannot display images and videos</li>
      <li>Migrating old blog posts can be tedious</li>
      <li>Navigation is limited to hyperlinks only</li>
      <li>Less visually attractive (I guess)</li>
    </ul>

    <h3>About the Author</h3>
    <p>Hey! I'm John Tao, a web developer passionate about minimalism, unix philosophy, TUI, and everything
      PKM-related.</p>

    <h3>Topics I Write About</h3>
    <ul>
      <li>Linux and TUI user experience</li>
      <li>Scripting language developer experience</li>
      <li>Personal knowledge management (PKM)</li>
      <li>Random thoughts, [re|in]trospective writings</li>
      <li>Topics including but not limited to memes, podcasts, movies, games, and music</li>
    </ul>


    <h3>Contact</h3>
    <p>If you'd like to get in touch, you can find me at:</p>
    <ul>
      <li><a href="https://github.com/johntao">GitHub Page</a></li>
    </ul>
  </article>
</BaseLayout>
